{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1 class="text-4xl">Welcome to Django Home Page</h1>
<div class="main">
    <p>Started Learning Django from Chai aur Code(Hitesh Sir)</p>
    <button class="bg-pink-600 rounded-md py-1 px-4 mt-5 mb-5">Playlist Link</button>
    <button class="bg-pink-600 rounded-md py-1 px-4 mt-5 mb-5">Channel Link</button>
    <p>Here you can found many content like React, JS, Node, Python, C++, NextJS</p>
    <p>Hanji Hamare Hitesh Sir ko sab kuch aata hai</p>
    <p>Please go and subscribe the chai aur code</p>
</div>

{% endblock  %}